<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18G1012</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>CPUFriend</string>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriend</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriend</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B500</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19B89</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1120</string>
	<key>DTXcodeBuild</key>
	<string>11B500</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriend</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.vanilla.driver.CPUFriend</string>
			<key>IOClass</key>
			<string>CPUFriend</string>
			<key>IOMatchCategory</key>
			<string>CPUFriend</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQ
			TElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFRE
			cy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJzaW9u
			PSIxLjAiPgo8ZGljdD4KCTxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJv
			ZmlsZTwva2V5PgoJPGRpY3Q+CgkJPGtleT5ETkRXaGlsZURpc3Bs
			YXlTbGVlcHM8L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5EYXJrV2Fr
			ZVNlcnZpY2VzPC9rZXk+CgkJPGRpY3Q+CgkJCTxrZXk+RGFya1dh
			a2VCYWNrZ3JvdW5kVGFza3M8L2tleT4KCQkJPGludGVnZXI+MTwv
			aW50ZWdlcj4KCQkJPGtleT5TbGVlcFNlcnZpY2VzPC9rZXk+CgkJ
			CTxpbnRlZ2VyPjc8L2ludGVnZXI+CgkJCTxrZXk+U2xlZXBTZXJ2
			aWNlc01vZGVzPC9rZXk+CgkJCTxkaWN0PgoJCQkJPGtleT5Nb2Rl
			QTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5CYXNlSW50ZXJ2
			YWxzPC9rZXk+CgkJCQkJPGRpY3Q+CgkJCQkJCTxrZXk+QUM8L2tl
			eT4KCQkJCQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkJhc2VTbGVlcElu
			dGVydmFsPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAwPC9pbnRl
			Z2VyPgoJCQkJCQkJPGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9r
			ZXk+CgkJCQkJCQk8aW50ZWdlcj44NjQwMDwvaW50ZWdlcj4KCQkJ
			CQkJPC9kaWN0PgoJCQkJCQk8a2V5PkJhdHRlcnk8L2tleT4KCQkJ
			CQkJPGRpY3Q+CgkJCQkJCQk8a2V5PkJhc2VTbGVlcEludGVydmFs
			PC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgoJ
			CQkJCQkJPGtleT5CYXNlV2FrZUNhcEludGVydmFsPC9rZXk+CgkJ
			CQkJCQk8aW50ZWdlcj4xODA8L2ludGVnZXI+CgkJCQkJCTwvZGlj
			dD4KCQkJCQk8L2RpY3Q+CgkJCQkJPGtleT5CYXR0ZXJ5Rmxvb3I8
			L2tleT4KCQkJCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoJCQkJCTxr
			ZXk+RXhwaXJhdGlvbjwva2V5PgoJCQkJCTxpbnRlZ2VyPjA8L2lu
			dGVnZXI+CgkJCQk8L2RpY3Q+CgkJCTwvZGljdD4KCQk8L2RpY3Q+
			CgkJPGtleT5EZWVwU2xlZXBDYXA8L2tleT4KCQk8ZmFsc2UvPgoJ
			CTxrZXk+RnJlcXVlbmN5VmVjdG9yczwva2V5PgoJCTxhcnJheT4K
			CQkJPGRhdGE+CgkJCUFnQUFBQWdBQUFBQkFBQUFBQUFBQUx3Q0FB
			QUFBQUFBR1FBQUFBQUFBQUFBWlAvLy8vLy8KCQkJL3c4QUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEwQUFBQUJBQUFBQUFBQQoJCQlBUHdJQUFBQUFBQUF5QUFBQUFB
			QUFBQUJaT2dEQUFBQUFBQUFBVXZRQndBQUFBQUFBQUV5CgkJCXVB
			c0FBQUFBQUFBQUdhQVBBQUFBQUFBQUFBRC8vLy8vLy84UEFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQklBQUFBQkFBQUFB
			QUFBQUt3TkFBQUFBQUFBeUFBQUFBQUEKCQkJQUFBQ1pQUUJBQUFB
			QUFBQUFqTG9Bd0FBQUFBQUFBSVozQVVBQUFBQUFBQUJNdEFIQUFB
			QQoJCQlBQUFBQVJtNEN3QUFBQUFBQUFBeW9BOEFBQUFBQUFBQUdm
			Ly8vLy8vL3c4QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUJjQQoJCQlBQUFCQUFBQUFBQUFBSWdUQUFBQUFB
			QUF5QUFBQUFBQUFBQURaUFFCQUFBQUFBQUFBekxvCgkJCUF3QUFB
			QUFBQUFNWjBBY0FBQUFBQUFBQ01yZ0xBQUFBQUFBQUFobWdEd0FB
			QUFBQUFBRXkKCQkJLy8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQndB
			QUFBQkFBQUFBQUFBQUVBZkFBQUEKCQkJQUFBQXlBQUFBQUFBQUFB
			RVpQUUJBQUFBQUFBQUJETG9Bd0FBQUFBQUFBUVozQVVBQUFBQQoJ
			CQlBQUFEUzlBSEFBQUFBQUFBQXpLNEN3QUFBQUFBQUFJeW9BOEFB
			QUFBQUFBQ0dmLy8vLy8vCgkJCS93OEFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFHUUFBQUFEQUFBQUFBQUFB
			S0NHQVFBQUFBQUF5QUFBQUFBQUFBQUZaUFFCCgkJCUFBQUFBQUFB
			QlRMb0F3QUFBQUFBQUFVWjNBVUFBQUFBQUFBRVM5QUhBQUFBQUFB
			QUJESzQKCQkJQ3dBQUFBQUFBQU15b0E4QUFBQUFBQUFER2YvLy8v
			Ly8vdzhBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQS8v
			Ly8vLy8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBRUpCUTB0SFVrOVYKCQkJVGtRQUFB
			QUFBQUFBQUdRQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQ0FVa1ZCCgkJCVRGUkpUVVZmVTBo
			UFVsUUFBQU1GQUFBQUFBQUFHUUFaQUdRQUFBQUFBQUFBQUFBQUFB
			QUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUJMUlZKT1JVd0FBQUFB
			QUFBQUFBQUFBQVZrQUdRQVpBQjlBSllBcndBQUFBQUFBQUFBCgkJ
			CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFnRlJJVWxWZlZFbEZV
			aklBQUFBQUFBQUFCR1FBeUFESUFNZ0F5QUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQ0FWRWhTVlY5VVNV
			VlNNd0FBQUFBQUFBQUVaQURJQU1nQXlBREkKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFJQlVTRkpWWDFS
			SlJWSTBBQUFBQUFBQUFBSElBTWdBCgkJCUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			CQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWdGUklVbFZm
			VkVsRlVqVUFBQUFBQUFBQQoJCQlBV1FBWkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFDQUFBQUFB
			QUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJ
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJ
			CQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJCUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKCQkJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFhR0Z5WkMxeQoJCQlkQzF1Y3dBQUFBQUFB
			QUFBQUFBQUNUMEFBQUFBQUFBQUFBQUFBQUFBZFdKd1l3QUFBQUFB
			CgkJCUFBQUFBQUFBQUFFQUFBQnZabVlBQUFBQUFBQUFBQUFBQUFB
			QWNHVnlaaTFpYVdGekFBQUEKCQkJQUFBQUFBQUFBQUFGQUFBQUFB
			QUFBQUFBQUFBQUFBQUFhSGR3QUFBQUFBQUFBQUFBQUFBQQoJCQlB
			QUVBQUFCdmJnQUFBQUFBQUFBQUFBQUFBQUFBWlhCd0FBQUFBQUFB
			QUFBQUFBQUFBQUFBCgkJCUFBQ0FBQUFBQUFBQUFBQUFBQUFBQUFB
			QWRYUnBiR2wwZVMxMGJIWnNBQUFBQUFBQUFBQTEKCQkJQUFBQUFB
			QUFBQUFBQUFBQUFBQUFibTl1TFdadlkyRnNMWFJzZG13QUFBQUFB
			QUQ2QUFBQQoJCQlBQUFBQUFBQUFBQUFBQUFBY21GMGFXOXlZWFJs
			YkdsdGFYUUFBQUFBQUFEQXhpMEFBQUFBCgkJCUFBQUFBQUFBQUFB
			QWFXOWpjMTlsYm1kaFoyVUFBQUFBQUFBQUFBQUFMVEVCQUFBQUFB
			QUEKCQkJQUFBQUFBQUFhVzlqYzE5a2FYTmxibWRoWjJVQUFBQUFB
			QURBNGVRQUFBQUFBQUFBQUFBQQoJCQlBQUFBYVc5amMxOWpjM1Jt
			YkhJQUFBQUFBQUFBQUFBSUFBQUFBQUFBQUFBQUFBQUFBQUFBCgkJ
			CWFXOWpjMTl5ZEhKcFoyZGxjZ0FBQUFBQUFBQUtBQUFBQUFBQUFB
			QUFBQUFBQUFBQWFXOWYKCQkJWlhCd1gySnZiM04wQUFBQUFBQUFB
			QUFnQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJCQlBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCgkJCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCQkJPC9kYXRhPgoJCTwv
			YXJyYXk+CgkJPGtleT5IaWJlcm5hdGUgTW9kZTwva2V5PgoJCTxp
			bnRlZ2VyPjA8L2ludGVnZXI+CgkJPGtleT5JT1BsYXRmb3JtU3lz
			dGVtU2xlZXBQb2xpY3k8L2tleT4KCQk8ZGF0YT4KCQlVMHhRVkFJ
			QUNnQWdBQUFBSUFBQUFBQUFBQUFBQUFBQUJRQUFBQUFBQUFBQXpa
			Y0JBQUFBQUVBR0FBQUEKCQlBQUFBR0FBQUFCZ0FBQUFGQUFBQUFB
			QUFBQURObHdFQUFBQUFRQVlBQUFBQUFBQVlBQUFBR0FBQUFBSUEK
			CQlBQUFCQUFBQUFNMlhBUUFBQUFCQUJoQUFBQUFRQUNCQUFBQWdR
			QUFBQWdBQUFBZ0FBQUFBelpjQkFBQUEKCQlBRUFHRUFBQUFCQUFB
			TUFBQUFEQUFBQUNBQUFBQ0FBQUFBRE5sd0VBQUFBQVFBWUFBQUFB
			QUFBSWdBQUEKCQlDSUFBQUFVQUFBQUFBQUFBQU0yWEFRQUFBQUJB
			QmdBQUFBQUFBQ2dBQUFBZ0FBQUFCUUFBQUFBQUFBQUEKCQl6WmNC
			QUFBQUFGQUdBQUFRQUFBQUFBQUFBQUFBQUFBRkFBQUFBQUFBQUFE
			Tmx3RUFBQUFBUUFZQUFBQUEKCQlBQUFBQUFBQUFBQUFBQUlBQUFB
			QkFBQUFBTTJYQVFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFn
			QUEKCQlBQUFBQUFBQXpaY0JBQUFBQUE9PQoJCTwvZGF0YT4KCQk8
			a2V5Pk5ldHdvcmtUaW1lckRlbGF5PC9rZXk+CgkJPGludGVnZXI+
			OTAwPC9pbnRlZ2VyPgoJCTxrZXk+Tm90aWZpY2F0aW9uV2FrZTwv
			a2V5PgoJCTxmYWxzZS8+CgkJPGtleT5Qcm94aW1pdHlXYWtlPC9r
			ZXk+CgkJPGludGVnZXI+MDwvaW50ZWdlcj4KCQk8a2V5PlNpbGVu
			dFJ1bm5pbmc8L2tleT4KCQk8dHJ1ZS8+CgkJPGtleT5TdGFuZGJ5
			QmF0dGVyeVRocmVzaG9sZDwva2V5PgoJCTxpbnRlZ2VyPjUwPC9p
			bnRlZ2VyPgoJCTxrZXk+U3RhbmRieURlbGF5PC9rZXk+CgkJPGlu
			dGVnZXI+ODY0MDA8L2ludGVnZXI+CgkJPGtleT5TdGFuZGJ5RGVs
			YXlIaWdoPC9rZXk+CgkJPGludGVnZXI+ODY0MDA8L2ludGVnZXI+
			CgkJPGtleT5UQ1BLZWVwQWxpdmVEdXJpbmdTbGVlcDwva2V5PgoJ
			CTxmYWxzZS8+CgkJPGtleT5UQ1BLZWVwQWxpdmVFeHBpcmF0aW9u
			VGltZW91dDwva2V5PgoJCTxpbnRlZ2VyPjQzMjAwPC9pbnRlZ2Vy
			PgoJCTxrZXk+VGhlcm1hbENvbmZpZ3VyYXRpb248L2tleT4KCQk8
			ZGljdD4KCQkJPGtleT5Eb21haW48L2tleT4KCQkJPGRpY3Q+CgkJ
			CQk8a2V5PkNQVTwva2V5PgoJCQkJPGRpY3Q+CgkJCQkJPGtleT5R
			T1NUaGVybWFsVGhyZXNob2xkczwva2V5PgoJCQkJCTxkaWN0PgoJ
			CQkJCQk8a2V5Pk5vbkZvY2FsPC9rZXk+CgkJCQkJCTxpbnRlZ2Vy
			PjI1MTwvaW50ZWdlcj4KCQkJCQkJPGtleT5VdGlsaXR5PC9rZXk+
			CgkJCQkJCTxpbnRlZ2VyPjUzPC9pbnRlZ2VyPgoJCQkJCTwvZGlj
			dD4KCQkJCQk8a2V5PlNGSUFwcE5hcDwva2V5PgoJCQkJCTxkaWN0
			PgoJCQkJCQk8a2V5PkVmZm9ydEN1cnZlPC9rZXk+CgkJCQkJCTxz
			dHJpbmc+NDc9MCUsNjc9NjclPC9zdHJpbmc+CgkJCQkJPC9kaWN0
			PgoJCQkJCTxrZXk+U0ZJRGFyd2luQkc8L2tleT4KCQkJCQk8ZGlj
			dD4KCQkJCQkJPGtleT5FZmZvcnRDdXJ2ZTwva2V5PgoJCQkJCQk8
			c3RyaW5nPjM4PTAlLDU3PTUwJSw2Nz02NyU8L3N0cmluZz4KCQkJ
			CQk8L2RpY3Q+CgkJCQkJPGtleT5TRklNYWludGVuYW5jZTwva2V5
			PgoJCQkJCTxkaWN0PgoJCQkJCQk8a2V5PkVmZm9ydEN1cnZlPC9r
			ZXk+CgkJCQkJCTxzdHJpbmc+Mzg9MCUsNTc9NTAlLDY3PTY3JTwv
			c3RyaW5nPgoJCQkJCTwvZGljdD4KCQkJCQk8a2V5PlNGSVdpbmRv
			dzwva2V5PgoJCQkJCTxpbnRlZ2VyPjUwMDAwPC9pbnRlZ2VyPgoJ
			CQkJCTxrZXk+VGhlcm1hbFByZXNzdXJlPC9rZXk+CgkJCQkJPGRp
			Y3Q+CgkJCQkJCTxrZXk+SGVhdnk8L2tleT4KCQkJCQkJPGRpY3Q+
			CgkJCQkJCQk8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KCQkJCQkJ
			CTxpbnRlZ2VyPjIwMDwvaW50ZWdlcj4KCQkJCQkJCTxrZXk+TG93
			VGhyZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4xMDA8L2lu
			dGVnZXI+CgkJCQkJCTwvZGljdD4KCQkJCQkJPGtleT5Nb2RlcmF0
			ZTwva2V5PgoJCQkJCQk8ZGljdD4KCQkJCQkJCTxrZXk+SGlnaFRo
			cmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVnZXI+MTMwPC9pbnRl
			Z2VyPgoJCQkJCQkJPGtleT5Mb3dUaHJlc2hvbGQ8L2tleT4KCQkJ
			CQkJCTxpbnRlZ2VyPjUwPC9pbnRlZ2VyPgoJCQkJCQk8L2RpY3Q+
			CgkJCQkJCTxrZXk+Tm9taW5hbDwva2V5PgoJCQkJCQk8ZGljdD4K
			CQkJCQkJCTxrZXk+SGlnaFRocmVzaG9sZDwva2V5PgoJCQkJCQkJ
			PGludGVnZXI+NTc8L2ludGVnZXI+CgkJCQkJCQk8a2V5Pkxvd1Ro
			cmVzaG9sZDwva2V5PgoJCQkJCQkJPGludGVnZXI+MDwvaW50ZWdl
			cj4KCQkJCQkJPC9kaWN0PgoJCQkJCQk8a2V5PlNsZWVwaW5nPC9r
			ZXk+CgkJCQkJCTxkaWN0PgoJCQkJCQkJPGtleT5IaWdoVGhyZXNo
			b2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4yNTI8L2ludGVnZXI+
			CgkJCQkJCQk8a2V5Pkxvd1RocmVzaG9sZDwva2V5PgoJCQkJCQkJ
			PGludGVnZXI+MjUxPC9pbnRlZ2VyPgoJCQkJCQk8L2RpY3Q+CgkJ
			CQkJCTxrZXk+VHJhcHBpbmc8L2tleT4KCQkJCQkJPGRpY3Q+CgkJ
			CQkJCQk8a2V5PkhpZ2hUaHJlc2hvbGQ8L2tleT4KCQkJCQkJCTxp
			bnRlZ2VyPjI1MDwvaW50ZWdlcj4KCQkJCQkJCTxrZXk+TG93VGhy
			ZXNob2xkPC9rZXk+CgkJCQkJCQk8aW50ZWdlcj4xNzA8L2ludGVn
			ZXI+CgkJCQkJCTwvZGljdD4KCQkJCQk8L2RpY3Q+CgkJCQk8L2Rp
			Y3Q+CgkJCQk8a2V5PkdQVTwva2V5PgoJCQkJPGRpY3QvPgoJCQkJ
			PGtleT5JTzwva2V5PgoJCQkJPGRpY3QvPgoJCQk8L2RpY3Q+CgkJ
			PC9kaWN0PgoJCTxrZXk+VW5pZmllZFNsZWVwU2xpZGVyUHJlZjwv
			a2V5PgoJCTx0cnVlLz4KCTwvZGljdD4KCTxrZXk+cG1zcEZpbGU8
			L2tleT4KCTxpbnRlZ2VyPjEyPC9pbnRlZ2VyPgo8L2RpY3Q+Cjwv
			cGxpc3Q+Cg==
			</data>
		</dict>
		<key>CPUFriendPlatform</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.vanilla.driver.CPUFriend</string>
			<key>IOClass</key>
			<string>CPUFriendData</string>
			<key>IOProbeScore</key>
			<integer>6000</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>IOCPUNumber</key>
				<integer>0</integer>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleACPICPU</string>
			<key>IOResourceMatch</key>
			<string>ACPI</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>as.vit9696.Lilu</key>
		<string>1.2.0</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0d1</string>
		<key>com.apple.kpi.bsd</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>12.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>12.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
